*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.main-container{
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* overflow-x: hidden;
    position: relative; */
}

.top-bar{
    /* background-color: rgba(0, 0, 0, 0.3); */
    display: flex;
    padding: 25px 250px;
}

.nav-logo a img{
    /* background-color: rgba(255, 255, 255, 0.7); */
    width: 150px;
}

.nav-bar{
    margin-top: 14px;
}
.nav-bar a{
    text-decoration: none;
    color: rgb(238, 230, 230);
    font-size: 10px;
    font-weight: 600;
    margin: 20px;
}

.paragraph{
    margin-left: 250px;
    margin-top: 150px;
}

.button{
    margin-left: 250px;
}

h1, p{
    color: rgb(238, 230, 230);
}
p{
    font-size: 14px;
}

#btnSoftware{
    background-color: rgb(230, 19, 82);
    border-radius: 2px;
    border-color: transparent;
    color: rgb(238, 230, 230);
    height: 35px;
    width: 150px;
}
#btnHire{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border-color: transparent;
    margin-left: 20px;
    color: rgb(238, 230, 230);
    height: 35px;
    width: 150px;
}